<mat-card class="example-card">
  <mat-card-actions (click)="openDetails(fitnessProgram.id)" class="display">
    <mat-card-header>
      <mat-card-title>
        @if(myProgram){
        <button matIcon matSuffix (click)="onDelete($event)"><mat-icon color="warn">delete</mat-icon></button><br><br>
        }
        {{fitnessProgram.name}}
      </mat-card-title>
      <mat-card-subtitle>{{fitnessProgram.price}} KM</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card-image" [src]="getImage(fitnessProgram.id)" >
    </mat-card-actions>
</mat-card>