.example-card {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  flex-direction: row-reverse;
  transition: transform 0.3s ease;
}

.example-card:hover {
  transform: scale(1.05);
}

.card-image {
  max-width: 50%;
  height: auto;
  margin-left: auto;
}

.card-image:hover {
  transform: scale(1.05);
}

.display{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px){
  .example-card {
    width: calc(100% - 20px);
    max-width: 350px;
    height: auto; 
    flex-direction: column;
  }

  .card-image {
    max-width: 50%;
    margin-left: 0;
  }
}

 