<div>
  <h1>Fitness World News</h1>
  @for (news of newsList; track $index) {
  <mat-card>
    <mat-card-actions>
      <div>
        <mat-card-header>
          <mat-card-title>
            {{ news.title }}
          </mat-card-title>
          <mat-card-subtitle>{{ news.category }}</mat-card-subtitle>
        </mat-card-header>
        <div class="content">
          <br />
          {{ news.description }}
          <p>
            Click <a href="{{ news.link }}" target="_blank">here</a> for details
          </p>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  }
</div>
