.comment {
    border: 1px solid #ccc; 
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .comment .username {
    font-weight: bold; 
    color: #333; 
  }
  
  .comment .content {
    margin-top: 5px;
  }
  
  .coment .reply {
    margin-left: 20px; 
    padding: 5px;
  }

.comment .add-reply {
  background-color: transparent; 
  color: #6962cb;
  border: none; 
  margin-left: 20px;
  padding: 5px;
}

.comment .add-reply:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}
  .reply .username {
    font-weight: bold; 
    color: #666; 
  }
  
  .reply .content {
    margin-top: 5px; 
    color: #666; 
  }
  
  ul {
    list-style-type: none;
  }

  .example-form {
    display: flex;
    align-items: flex-start; 
  }

  .example-form .mat-form-field {
    margin-right: 10px;
  }

  .example-form button {
    height: 55px; 
  }