<mat-form-field>
    <mat-label>Category:</mat-label>
    <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let category of categoryList" [value]="category.id">
            {{ category.name }}
          </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Attribute:</mat-label>
    <mat-select [(ngModel)]="selectedAttribute" (selectionChange)="onChangeAtt($event)" id="selectedAttributeId">
        <mat-option *ngFor="let attribute of attributeList" [value]="attribute.id">
            {{ attribute.name }}
          </mat-option>
    </mat-select>
</mat-form-field>
<button mat-button (click)="deleteFilters()">Delete Filters</button>