@if(fitnessProgram){
<div class="two-column-container">
  <div class="card-column">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ fitnessProgram.name }}</mat-card-title>
        <mat-card-subtitle>{{ fitnessProgram.categoryName }}</mat-card-subtitle>
        @if(loggedIn){
        <mat-card-actions class="button-container">
          <button mat-flat-button color="primary" (click)="joinProgram()">
            Join now
          </button>
        </mat-card-actions>
        }
      </mat-card-header>
      <img
        mat-card-image
        class="card-image"
        [src]="getImage()"
        alt="Photo of fitness program"
      />
      <mat-card-content>
        <br />
        <p>Price: {{fitnessProgram.price}} KM </p>
        <p>About: {{ fitnessProgram.description }}</p>
        <p>Location: {{ fitnessProgram.locationName }}</p>
        <p>Level: {{ fitnessProgram.level }}</p>
        <p>Duration: {{ fitnessProgram.duration }} min</p>
        <p>Instructor: {{ fitnessProgram.instructorName }}</p>
        <p>Contact: {{ fitnessProgram.contact }}</p>
        <div *ngFor="let attribute of fitnessProgram.attributedescriptionsById">
          <p>{{ attribute.attributeName }}:</p>
          <p></p>
          <ul>
            {{
              attribute.description
            }}
          </ul>
        </div>
        @if(fitnessProgram.locationName=='online'){
          <a href="https://www.youtube.com/watch?v=cbKkB3POqaY">Open program</a>
        }
      </mat-card-content>
    </mat-card>
  </div>

  @if(loggedIn){
  <div class="comments-column">
    <div class="container-comments">
      <app-comments-component
        [fitnessProgramId]="fitnessProgram.id"
      ></app-comments-component>
    </div>
  </div>
}
</div>
}
