.card-image {
  width: 100%;
  max-width: 500px;
  max-height: auto;
  height: auto;
}

.example-card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.button-container {
  margin-left: auto;
  border: rgb(86, 86, 243);
}

.container-comments {
  display: flex;
  flex-direction: column; 
}

.two-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-column {
  flex: 1; 
  padding-right: 20px;
}

.comments-column {
  flex: 1;
  padding-left: 20px;
}
